<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="personal website of Leslie Seeberger, software engineer">
	<title>Leslie Seeberger | {{ title }}</title>
    <link rel="icon" href="assets/favicon.ico" sizes="any">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:wght@400;900&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ 'styles/main.css' | url}}" />
    <script src="https://kit.fontawesome.com/0b2be24a58.js" crossorigin="anonymous"></script>
</head>
<body>
    <main role="main">
	    {{ content | safe}}
    </main>
    
</body>
</html>